In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv('vaccinations.csv')

In [4]:
df

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156513,Zimbabwe,ZWE,2022-10-05,12219760.0,6436704.0,4750104.0,1032952.0,NaN,2076.0,74.87,39.44,29.11,6.33,127.0,638.0,0.004
156514,Zimbabwe,ZWE,2022-10-06,NaN,NaN,NaN,NaN,NaN,1714.0,NaN,NaN,NaN,NaN,105.0,563.0,0.003
156515,Zimbabwe,ZWE,2022-10-07,NaN,NaN,NaN,NaN,NaN,1529.0,NaN,NaN,NaN,NaN,94.0,462.0,0.003
156516,Zimbabwe,ZWE,2022-10-08,NaN,NaN,NaN,NaN,NaN,1344.0,NaN,NaN,NaN,NaN,82.0,361.0,0.002
156517,Zimbabwe,ZWE,2022-10-09,12222754.0,6437808.0,4751270.0,1033676.0,NaN,1126.0,74.89,39.45,29.11,6.33,69.0,332.0,0.002

In [5]:
total_vaccinations_by_location = df.groupby('location')['total_vaccinations'].sum()

In [6]:
total_vaccinations_by_location

location
Afghanistan          5.888728e+08
Africa               2.651715e+11
Albania              3.799607e+08
Algeria              2.983973e+08
Andorra              5.061072e+06
                         ...
Wallis and Futuna    4.837050e+05
World                6.340245e+12
Yemen                2.604640e+07
Zambia               6.062863e+08
Zimbabwe             3.211422e+09
Name: total_vaccinations, Length: 235, dtype: float64

In [7]:
tf = total_vaccinations_by_location.reset_index().rename(columns={'total_vaccinations': 'total_vaccinations_by_location'})

In [8]:
tf

              location  total_vaccinations_by_location
0          Afghanistan                    5.888728e+08
1               Africa                    2.651715e+11
2              Albania                    3.799607e+08
3              Algeria                    2.983973e+08
4              Andorra                    5.061072e+06
..                 ...                             ...
230  Wallis and Futuna                    4.837050e+05
231              World                    6.340245e+12
232              Yemen                    2.604640e+07
233             Zambia                    6.062863e+08
234           Zimbabwe                    3.211422e+09

[235 rows x 2 columns]

In [9]:
df = pd.read_csv('covid_worldwide.csv')